<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>CyberArk Workflow stage</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.conjur.jenkins.configuration.ConjurJITJobProperty plugin="conjur-credentials@1.0.12">
      <inheritFromParent>true</inheritFromParent>
      <useJustInTime>false</useJustInTime>
      <authWebServiceId></authWebServiceId>
      <hostPrefix></hostPrefix>
      <conjurConfiguration>
        <applianceURL></applianceURL>
        <account></account>
        <credentialID></credentialID>
        <certificateCredentialID></certificateCredentialID>
      </conjurConfiguration>
    </org.conjur.jenkins.configuration.ConjurJITJobProperty>
    <hudson.plugins.promoted__builds.JobPropertyImpl plugin="promoted-builds@876.v99d29788b_36b_">
      <activeProcessNames>
        <string>stage approved</string>
      </activeProcessNames>
    </hudson.plugins.promoted__builds.JobPropertyImpl>
  </properties>
  <scm class="com.atlassian.bitbucket.jenkins.internal.scm.BitbucketSCM" plugin="atlassian-bitbucket-server-integration@3.1.0">
    <gitSCM plugin="git@4.10.3">
      <configVersion>2</configVersion>
      <userRemoteConfigs class="singleton-list">
        <hudson.plugins.git.UserRemoteConfig>
          <name>CYSService</name>
          <credentialsId>Manish-SSH-KEY</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/stage</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <browser class="hudson.plugins.git.browser.Stash">
        <url></url>
      </browser>
      <submoduleCfg class="empty-list"/>
      <extensions/>
    </gitSCM>
    <branches reference="../gitSCM/branches"/>
    <extensions/>
    <id>171a95f6-d403-4f1a-890a-bc9b37d0ceb1</id>
    <repositories>
      <com.atlassian.bitbucket.jenkins.internal.scm.BitbucketSCMRepository>
        <credentialsId></credentialsId>
        <sshCredentialsId>Manish-SSH-KEY</sshCredentialsId>
        <projectKey>EIAM</projectKey>
        <projectName>Enterprise Identity and Access Management</projectName>
        <repositoryName>CYSService</repositoryName>
        <repositorySlug>CYSService</repositorySlug>
        <serverId>633df95f-3f2a-454f-b36b-0eac48a72535</serverId>
        <mirrorName></mirrorName>
      </com.atlassian.bitbucket.jenkins.internal.scm.BitbucketSCMRepository>
    </repositories>
    <isWebhookRegistered>false</isWebhookRegistered>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd CYAService</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.tasks.AntWrapper plugin="ant@1.13">
      <installation>ANT_HOME</installation>
    </hudson.tasks.AntWrapper>
  </buildWrappers>
</project>