<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.promoted__builds.JobPropertyImpl plugin="promoted-builds@876.v99d29788b_36b_">
      <activeProcessNames>
        <string>Stage Approved</string>
      </activeProcessNames>
    </hudson.plugins.promoted__builds.JobPropertyImpl>
  </properties>
  <scm class="com.atlassian.bitbucket.jenkins.internal.scm.BitbucketSCM" plugin="atlassian-bitbucket-server-integration@3.1.0">
    <gitSCM plugin="git@4.10.3">
      <configVersion>2</configVersion>
      <userRemoteConfigs class="singleton-list">
        <hudson.plugins.git.UserRemoteConfig>
          <name>selfregisterworkflow</name>
          <url>ssh://git@bitbucket.epa.gov:2222/eiam/selfregisterworkflow.git</url>
          <credentialsId>Manish-SSH-KEY</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/Stage</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <browser class="hudson.plugins.git.browser.Stash">
        <url>https://bitbucket.epa.gov/projects/EIAM/repos/selfregisterworkflow</url>
      </browser>
      <submoduleCfg class="empty-list"/>
      <extensions/>
    </gitSCM>
    <branches reference="../gitSCM/branches"/>
    <extensions/>
    <id>6ce638bb-21e0-4fd9-a43f-77d25f677e52</id>
    <repositories>
      <com.atlassian.bitbucket.jenkins.internal.scm.BitbucketSCMRepository>
        <credentialsId></credentialsId>
        <sshCredentialsId>Manish-SSH-KEY</sshCredentialsId>
        <projectKey>EIAM</projectKey>
        <projectName>Enterprise Identity and Access Management</projectName>
        <repositoryName>SelfRegisterWorkflow</repositoryName>
        <repositorySlug>selfregisterworkflow</repositorySlug>
        <serverId>633df95f-3f2a-454f-b36b-0eac48a72535</serverId>
        <mirrorName></mirrorName>
      </com.atlassian.bitbucket.jenkins.internal.scm.BitbucketSCMRepository>
    </repositories>
    <isWebhookRegistered>true</isWebhookRegistered>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.atlassian.bitbucket.jenkins.internal.trigger.BitbucketWebhookTriggerImpl plugin="atlassian-bitbucket-server-integration@3.1.0">
      <spec></spec>
      <pullRequestTrigger>false</pullRequestTrigger>
      <refTrigger>true</refTrigger>
      <version>1</version>
    </com.atlassian.bitbucket.jenkins.internal.trigger.BitbucketWebhookTriggerImpl>
    <com.cloudbees.jenkins.plugins.BitBucketTrigger plugin="bitbucket@214.v2fd4234d0554">
      <spec></spec>
      <overrideUrl></overrideUrl>
      <buildOnCreatedBranch>false</buildOnCreatedBranch>
    </com.cloudbees.jenkins.plugins.BitBucketTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd EPAAppsInitialOnBoarding</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.tasks.AntWrapper plugin="ant@1.13">
      <installation>ANT_HOME</installation>
    </hudson.tasks.AntWrapper>
  </buildWrappers>
</project>