<?xml version='1.1' encoding='UTF-8'?>
<project>
  <description>Service Account workflow prod</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.promoted__builds.JobPropertyImpl plugin="promoted-builds@876.v99d29788b_36b_">
      <activeProcessNames>
        <string>Prod approved</string>
      </activeProcessNames>
    </hudson.plugins.promoted__builds.JobPropertyImpl>
  </properties>
  <scm class="com.atlassian.bitbucket.jenkins.internal.scm.BitbucketSCM" plugin="atlassian-bitbucket-server-integration@3.1.0">
    <gitSCM plugin="git@4.10.3">
      <configVersion>2</configVersion>
      <userRemoteConfigs class="singleton-list">
        <hudson.plugins.git.UserRemoteConfig>
          <name>serviceaccountworkflow</name>
          <url>ssh://git@bitbucket.epa.gov:2222/eiam/serviceaccountworkflow.git</url>
          <credentialsId>Manish-SSH-KEY</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/prodlive</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <browser class="hudson.plugins.git.browser.Stash">
        <url>https://bitbucket.epa.gov/projects/EIAM/repos/serviceaccountworkflow</url>
      </browser>
      <submoduleCfg class="empty-list"/>
      <extensions/>
    </gitSCM>
    <branches reference="../gitSCM/branches"/>
    <extensions/>
    <id>a1c20de6-dc26-415d-820a-22811643e5e0</id>
    <repositories>
      <com.atlassian.bitbucket.jenkins.internal.scm.BitbucketSCMRepository>
        <credentialsId></credentialsId>
        <sshCredentialsId>Manish-SSH-KEY</sshCredentialsId>
        <projectKey>EIAM</projectKey>
        <projectName>Enterprise Identity and Access Management</projectName>
        <repositoryName>ServiceAccountWorkflow</repositoryName>
        <repositorySlug>serviceaccountworkflow</repositorySlug>
        <serverId>633df95f-3f2a-454f-b36b-0eac48a72535</serverId>
        <mirrorName></mirrorName>
      </com.atlassian.bitbucket.jenkins.internal.scm.BitbucketSCMRepository>
    </repositories>
    <isWebhookRegistered>false</isWebhookRegistered>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command></command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.tasks.AntWrapper plugin="ant@1.13">
      <installation>ANT_HOME</installation>
    </hudson.tasks.AntWrapper>
  </buildWrappers>
</project>